body {
  background-color: black;
}

.header {
  width: 100vw;
  height: 100vh;
  display: block;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justify-center {
  justify-content: center
}


.coverimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.floatingbox {
  position: absolute;
  left: 0;
  width: 60vw;
  background: rgba(255, 255, 255, 0.6);
  font-size: 100px;
  line-height: 130px;
  color: black;
  word-wrap: normal;
  font-family: pressio-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 50px;
}

.floatingbox-bot {
    bottom: 8vh;
}

.floatingbox-top {
  top: 8vh;
}

.quotepage {
  width: 100%;
  min-height: 120vh;
  color: white;
  font-size: 45px;
  word-wrap: break-word;
  font-family: pressio-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 110px;
  white-space: pre-line;
  transform: scaleY(1.05);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8vh;
}

.quote {
  padding-bottom: 150px;
}
.container {
  margin-left: max(12vw, 130px);
  margin-right: max(12vw, 130px);
  overflow: none;
  display: block;

}

.w100 {
  width: 100%;
}

.w890 {
  width: 715px;
}

.highlight-big {
  font-family: pressio-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 45px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: white;
  color: black;
  display: inline-block;
}

.img50 {
  position: relative;
  width: 50%;
}

.img_h500 {
  height: 45vh;
  object-fit: cover;
}

.squareimg {
    position: relative;
    width: 40%;
    overflow: hidden;
}

.sticky {
  display: sticky
}

.dividerimage {
  position: relative;
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.twoimages {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.img45 {
  position: relative;
  width: 45%;
  margin-right: 30px;
}

.img55 {
  position: relative;
  width: 55%;
}

.step {
  position: relative;
  width: 55%;
}

.mr {
  margin-right: 80px;
}

.mr-small {
  margin-right: 30px;
}

.mr-md {
  margin-right: 50px;
}

.mr-0 {
  margin-right: 0 !important;
}


.ml {
  margin-left: 80px;
}

.mt {
  margin-top: 150px;
}

.mt-lg {
  margin-top: 250px;
}

.mt-small {
  margin-top: 30px;
}

.mt-md {
  margin-top: 50px;
}

.fullheight {
  min-height: 100vh;
}

.anthem {
  white-space: pre-line;
  text-align: center;
}

.anthem_image {
  max-height: 760px;
  position: relative;
  width: 60%;
  object-fit: cover;
}

.stepdescription {
  color: white;
  font-size: 24px;
  word-wrap: break-word;
  font-family: pressio-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 50px;
  margin-top: 50px;
  transform: scaleY(1.05);
}


.steptitle {
  font-family: pressio-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 45px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 20px;
  line-height: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  color: black;
  display: inline-block;
}

@keyframes fade {
  0% {
    opacity: 1.0;
  }

  33% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
  }
}

@keyframes slide {
    0% {
        transform: none;
    }
    100% {
        transform: translate3d(0,-100%,0);
    }
}

img {
  position: absolute;
  object-fit: contain;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

a {
  font-family: pressio-condensed, sans-serif;
  font-weight: 500;
  background: black;
  border: 4px solid white;
  font-size: 45px;
  padding-left: 80px;
  padding-right: 80px;
  line-height: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
  text-decoration: none;
}

.smaller {
  font-size: 24px;
  line-height: 30px;
  width: 100%;
}

.first {
  animation: fade 10s;
  animation-fill-mode: forwards;
}

.second {
  animation: slide 4s ease;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}